<div class ="p-4">
  <div class="grid grid-cols-3 p-4 text-2xl text-slate-500">
    <div></div>
    <div>CAD</div>
    <div>{{selectedCurrency}}</div>

  </div>
  <div class="h-20 p-4 text-xl text-white rounded outline outline-1 outline-white">
    <div>
      <span class="text-slate-500">input(CAD):</span>{{display}}</div>
    </div>
    <div class="grid h-20 grid-cols-3 p-4 text-2xl text-white">
      <div><span class="text-slate-500">raw Price:</span></div>
      <div>{{rawPrice.toFixed(2)}}</div>
      <div>{{rawPriceCurrency.toFixed(2)}}</div>
    </div>
  <div class="grid h-20 grid-cols-3 p-4 text-2xl text-white">
    <div><span class="text-slate-500">Tax:</span></div>
    <div>{{Tax.toFixed(2)}}</div>
    <div>{{TaxCurrency.toFixed(2)}}</div>
  </div>
  <app-category-selector [options]="taxs" (onSelect)="onSelectTaxs($event)"></app-category-selector>

  <div class="grid h-20 grid-cols-3 p-4 text-2xl text-white">
    <div><span class="text-slate-500">Tips:</span></div>
    <div>{{Tips.toFixed(2)}}</div>
    <div>{{TipsCurrency.toFixed(2)}}</div>
  </div>
  <app-category-selector [options]="tips" (onSelect)="onSelectTips($event)"></app-category-selector>
  <div class ="grid h-20 grid-cols-3 p-4 text-2xl text-white">
    <div><span class="text-slate-500">subTotal:</span></div>
    <div>{{subTotal.toFixed(2)}}</div>
    <div>{{subTotalCurrency.toFixed(2)}}</div>
  </div>
  <app-category-selector [options]="currencies" (onSelect)="onSelectCurrency($event)"></app-category-selector>

  <div class="grid grid-cols-4 gap-4 mt-4">
    <div class="grid flex-1 grid-cols-3 col-span-3 gap-4">
      <button *ngFor="let number of numbers; let i=index;"class="flex-1 btn btn-primary" (click)="numMiscClick(number)">{{number}}</button>
    </div>
    <div class="grid flex-1 grid-cols-1 col-span-1 grid-rows-4 gap-4">
      <button *ngFor="let operator of operators; let i=index;"class="flex-1 btn btn-secondary" (click)="operatorClick(operator)">{{operator}}</button>
      <button *ngFor="let misc of miscs; let i=index;"class="flex-1 btn btn-secondary" (click)="numMiscClick(misc)">{{misc}}</button>
    </div>
  </div>
</div>
